.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

body {
    font-family: 'Raleway',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    background-color:white;
}

.splitsen{
  float: left;
}
img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

.container{
    max-width: 100%;
    height: 2175px;
    background-color:lightgray;
    margin:0 auto;
}

.mid{
    max-width: 1000px;
    height: 1500px;
    background-color:lightgray;
    margin:0 auto;
    padding:1px 20px 0px 20px;
}

.Cyaan{
    width: 10%;
    height: 10%;
    margin-top:10px;
}
html {
    box-sizing: border-box;
    font-family: 'Raleway', 'Open Sans', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
  }
  
  .containertable {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 960px;
    width: 100%;
  }
  
  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    flex-direction: column;
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
    float: left;
    width: 30%;

  }
  
  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;   
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .pricing-img {
    max-width: 100%;
    width: 100%;
    height: 30%;
    border-radius:10px;
    margin-left:40px;
  }
  
  .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left:45px;
    width: 150px;
  }
  
  .pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
    margin-left:10px;
  }
  
  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }

  .bandleden{
    border-radius: 0px;
  }

  /*Concurrentie analyse*/

 .Nickelback{
    max-width: 1920px;
    width:100%;
    height:100vh;
  
}

.midWhite{
  max-width: 1000px;
  height: 1500px;
  background-color:White;
  margin:0 auto;
  padding:1px 20px 0px 20px;
  max-width: 1920px;
  width:100%;
  height:100vh;
}

.midGray{
  max-width: 1000px;
  height: 1500px;
  background-color:lightgray;
  margin:0 auto;
  padding:1px 20px 0px 20px;
  max-width: 1920px;
  width:100%;
  height:100vh;
}

.midConcurrentieGray{
  max-width: 1000px;
  height: 1000px;
  background-color:lightgray;
  margin:0 auto;
  padding:1px 20px 0px 20px;
  width:100%;
  height:100vh;
}

.midConcurrentieWhite{
  max-width: 1000px;
  height: 1000px;
  background-color:white;
  margin:0 auto;
  padding:1px 20px 0px 20px;
  width:100%;
  height:100vh;
}

.up{
  text-align: center;
  
}
#afstand{
  margin-top:4%;
}

a{
  color:black;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color:gray;
}
.link{
  text-decoration: underline;
}

#next{
  margin:20%;
}

.opsomming{
    list-style-type: none;
    font-size: 20px;
}
li{
  padding: 6px 0px 6px 0px;
  padding-left:3%;
  font-size: 16px;
  
}